<div class="row">
  <div class="col-xs-12">
    <h3>{{ clientAccount.name }}</h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h5>{{ clientAccount.id }}</h5>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">{{ clientAccount.country }}</div>
</div>
<div class="row">
  <div class="col-xs-12">{{ clientAccount.entity }}</div>
</div>
<div class="row">
  <div class="col-xs-12">{{ clientAccount.state }}</div>
</div>
<div class="row">
  <div class="col-xs-12">{{ clientAccount.accountOpenDate }}</div>
</div>
<div class="row">
  <div class="col-xs-12">{{ clientAccount.accountCloseDate }}</div>
</div>
<div class="row">
  <div class="col-xs-12">{{ clientAccount.numberPortfolios }}</div>
</div>
<div class="row">
  <div class="col-xs-12">{{ clientAccount.numberBreaches }}</div>
</div>
<div class="row">
  <div class="col-xs-12">{{ clientAccount.totalInvestedMoney }}</div>
</div>
