<div class="sidebar sticky-sidebar">
  <div>
    <h6>
      <a
        class="nav-link"
        (click)="isCollapsedLM = !isCollapsedLM"
        [attr.aria-expanded]="!isCollapsedLM"
        aria-controls="collapseLM"
        ><i class="far fa-chart-bar fa-lg"></i>
        Live Market
      </a>
    </h6>
    <div id="collapseLM">
      <ul
        class="list-group navbar-nav sidebar-ul"
        [ngbCollapse]="isCollapsedLM"
      >
        <li routerLinkActive="active">
          <a class="nav-link  sidebar-a" [routerLink]="['/market', 'stock']"
            >Stocks</a
          >
        </li>
        <li routerLinkActive="active">
          <a class="nav-link sidebar-a" [routerLink]="['/market', 'bond']"
            >Bonds</a
          >
        </li>
        <li routerLinkActive="active">
          <a class="nav-link sidebar-a" [routerLink]="['/market', 'currency']"
            >Currencies</a
          >
        </li>
      </ul>
    </div>
    <h6>
      <a
        class="nav-link"
        (click)="isCollapsedNEWS = !isCollapsedNEWS"
        [attr.aria-expanded]="!isCollapsedNEWS"
        aria-controls="collapseNEWS"
        ><i class="far fa-newspaper fa-lg"></i> News</a
      >
    </h6>
    <div id="collapseNEWS">
      <ul
        class="list-group navbar-nav sidebar-ul"
        [ngbCollapse]="isCollapsedNEWS"
      >
        <li routerLinkActive="active">
          <a class="nav-link sidebar-a" [routerLink]="['/market', 'news']"
            >Latest News</a
          >
        </li>
        <!-- <li routerLinkActive="active">
          <a
            class="nav-link sidebar-a"
            [routerLink]="['/client', 'account', id, 'portfolio-composition']"
            >Business</a
          >
        </li> -->
      </ul>
    </div>
  </div>
</div>
