/* You can add global styles to this file, and also import other style files */

*:focus {
  outline: none;
}

body {
  background-color: #f3f3f3;
}

nav {
  background-color: #ffffff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
}

.row {
  margin-right: 15px;
  margin-left: 15px;
}

.main-section {
  margin-top: 55px;
  margin-left: 40px;
  padding-top: 20px;
}

.main-section.left {
  margin-left: 60px;
}

.with-header {
  margin-left: 0px;
}

.col-md-4 > .main-section {
  margin-left: 0px;
}

.col-md-10 > h3 {
  margin-top: 30px;
}

.section {
  background-color: #ffffff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
}

.section-news-detail {
  max-height: 500px;
}

.card {
  border: none;
  margin-right: 2rem;
  margin-bottom: 2rem;
  width: 14rem;
  cursor: pointer;
}

.card-body {
  padding: 1rem;
}

.price-card-text {
  color: #ffffff;
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 152px;
}

.sticky-sidebar {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 90px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #016bc9;
  margin: 1em 0;
  padding: 0;
}

form.search-account > div > input {
  border: 0px;
}

.list-group-item {
  border: 0px;
  border-radius: 0px;
  padding-left: 0rem;
}

.list-group-item:hover {
  background-color: #ececec;
}

.list-group-item:first-child {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}

.list-group-item:last-child {
  margin-bottom: none;
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}

li > div.row {
  margin-left: 0rem;
}

li > div.row > div.col-md-3 {
  padding-left: 0rem;
}

.list-group-item-heading {
  font-size: 80%;
  font-weight: bold;
}

.form-control {
  display: inline-block;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-plus-circle {
  color: #016bc9;
  font-size: 150%;
}

.fa-search {
  color: #016bc9;
}

form.search-account {
  margin-bottom: -16px;
  margin-top: 10px;
}

.sidebar {
  margin-top: 10px;
  padding-left: 0px;
}

.sidebar-ul {
  margin-left: 70px;
  margin-top: -11px;
}

.sidebar-a {
  color: #212529;
}

.fa-chart-line {
  margin-right: 13px;
}

.fa-file-alt {
  padding-left: 3px;
  margin-right: 16px;
}

.fa-user {
  margin-right: 16px;
}

.fa-chart-bar {
  margin-right: 16px;
}

.fa-newspaper {
  margin-right: 16px;
}

/* CHARTS */

.chart-candle {
  width: 500px;
  height: 300px;
  margin-bottom: -22px;
}

.chart-volume {
  width: 500px;
  height: 150px;
}

/* Grids and Axes */

.grid-candle line {
  stroke: rgb(219, 219, 219);
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid-candle path {
  stroke-width: 0;
}

.axis-candle-y path {
  stroke: none;
}

.axis-candle-y line {
  stroke: none;
}

.axis-candle-y text {
  fill: #999999;
}

.axis-candle-x path {
  stroke: #999999;
}

.axis-candle-x line {
  stroke: #999999;
}

.axis-candle-x text {
  fill: #999999;
}

.vol:hover {
  fill: orange;
}

.vl {
  border-left: 1px solid orange;
  height: 300px;
  /* position: absolute; */
  /* left: 50%; */
  /* margin-left: -3px; */
  /* top: 0; */
}
